[submodule "aws-start-rds-snapshot-plugin"]
	path = aws-start-rds-snapshot-plugin
	url = https://github.com/Stackspot-Dados/aws-start-rds-snapshot-plugin
[submodule "terraform-initial-template"]
	path = terraform-initial-template
	url = https://github.com/Stackspot-Dados/terraform-initial-template
[submodule "aws-lambda-export-rds-s3-plugin"]
	path = aws-lambda-export-rds-s3-plugin
	url = https://github.com/Stackspot-Dados/aws-lambda-export-rds-s3-plugin
